.message {
  text-align: center;
  font-size: 1.75rem;
  margin-top: 0.625rem;
  margin-bottom: 1.95rem;
}

.divider {
  margin-bottom: 5rem;
}

.id {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
